body {
    font-family: "Courier New";
    background: #46586B;
    padding: 5% 10% 0 10%;
}

h1 {
    color: #D1D4D7;
}

li {
    list-style: none;
}

a {
    background: #C5C9CE;
    padding: 1em;
    margin: 0.2em;
    color: #435A74;
    text-decoration: none;
    display: block;
}

a:hover {
    background: #B5BBC2;
}

span.date {
    color: #888FA5;
    float: right;
    font-size: 0.6em;
}
